body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.container {
   border: 2px solid #ccc;
   display: flex;
   flex-direction: column;
   align-items: center; 
   gap: 20px; 
   padding: 20px;
   border-radius: 8px;
   max-width: 650px;
   width: 100%;
   box-sizing: border-box;
}


.seesaw-area {
    position: relative;
    max-width: 600px;
    width: 100%; 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer; 
    background-color: #5a5b5c;
}

/* tahterevalli'nin çubuğunu yani plank'ı ayarladığımız kısım*/
.plank {
    width:400px;
    max-width: 70%;
    height:20px;
    background-color: #8B4513;
    border-radius: 5px;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 50px;
    transform-origin: center center; 
    transition: transform 0.5s ease-in-out;
    margin-bottom: 10%;
}


/* pivot noktası */
.pivot {
    width: 50px;
    height: 50px;
    background-color: #000000; 
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* üçgen şekli */
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    margin-bottom: 10%;
}

.weight-object{
    border-radius: 50%;
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    background-color: var(--color);  
    background-image: radial-gradient(circle at 30% 30%, rgba(255,255,255,0.3), transparent);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    pointer-events: none;
}

/* kontrol değerlerinin kutusu */
.controls {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.left-weight, .right-weight, .angle, .next-weight {
    font-size: 16px;
    padding: 15px 10px;
    flex: 1 1 calc(25% - 10px);
    min-width: 100px;
    border: 2px solid #5c5a5a; 
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    gap: 10px;
    flex-wrap: wrap;
}

.distance-indicator {
    flex: 1; /* boş alana göre şekillenir*/
    min-width: 150px;
    font-size: 16px;
    border: 2px solid #5c5a5a; 
    padding: 10px;
    border-radius: 5px; 
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}
.reset-button {
      padding: 11px 20px;
    background-color: white;
    color: #d0021b; /* Destructive Red */
    border: 1px solid #d0021b;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s;
}

.reset-button:hover {
    background-color: #ff3838;
}

.reset-button:active {
    transform: scale(0.95);
}