body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.container {
   border: 2px solid #ccc;
   display: flex;
   flex-direction: column;
   align-items: center; 
   gap: 20px; 
   padding: 20px;
   border-radius: 8px;
}

.seesaw-area {
    position: relative;
    width:600px; 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer; 
}

/* tahterevalli'nin çubuğunu yani plank'ı ayarladığımız kısım*/
.plank {
    width:400px;
    height:20px;
    background-color: #8B4513;
    border-radius: 5px;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 50px;
    transform-origin: center center; 
    transition: transform 0.5s ease-in-out;
    margin-bottom: 10%;
}


/* pivot noktası */
.pivot {
    width: 50px;
    height: 50px;
    background-color: #000000; 
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* üçgen şekli */
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    margin-bottom: 10%;
}


/* kontrol değerlerinin kutusu */
.controls {
    position: absolute;
    display: flex;
    gap: 10%;
    top: 20px;
    padding: 15px;
    width: 40%;
    height: 10%;
    border: 1px solid #ccc;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.left-weight, .right-weight, .angle, .next-weight {
    font-size: 16px;
    padding-top: 20px;
    min-width: 17%;
    border: 2px solid #5c5a5a; 
    border-radius: 10%;
    text-align: center;
    size: 10%;
}

.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;

}

.distance-indicator {
    position: flex;
    min-width: 111px;
    font-size: 16px;
    border: 2px solid #5c5a5a; 
    padding: 8px 12px; 
    border-radius: 5px; 
    background-color: white; 
}

.reset-button {
    padding: 10px 20px;
    background-color: #ff4757;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20%;
}

.reset-button:hover {
    background-color: #ff3838;
}

.reset-button:active {
    transform: scale(0.95);
}